IMG_1014.MOV
dash/output.jpg
dash/output.mp4
*pyc
dash/__pycache__/**.mp4
exports/assessed_result/max_left.png
exports/assessed_result/max_legs.png
exports/assessed_result/max_lo_arm.png
exports/assessed_result/max_right.png
exports/assessed_result/max_up_arm.png
exports/assessed_result/max_wrist.png
exports/assessed_result/scores_video_export_sample-video-side-view_0_2_RULA.xlsx
exports/assessed_result/scores_video_export_sample-video-side-view_0_4-5_RULA.xlsx
exports/assessed_result/scores_video_export_sample-video-side-view_0_4_RULA.xlsx
exports/video_export_sample-video-side-view_0_2.5_metadata.txt
exports/video_export_sample-video-side-view_0_4-5_metadata.txt
exports/video_export_sample-video-side-view_0_4_metadata.txt
exports/assessed_result/max_wrist.png
exports/assessed_result/max_up_arm.png
exports/assessed_result/max_right.png
exports/assessed_result/max_lo_arm.png
exports/assessed_result/max_legs.png
exports/assessed_result/max_left.png
exports/assessed_result/max_wrist.png
exports/assessed_result/max_up_arm.png
exports/assessed_result/max_right.png
exports/assessed_result/max_lo_arm.png
exports/assessed_result/max_legs.png
exports/assessed_result/max_left.png
dash/imports/IMG_1017.MOV
dash/__pycache__/*
dash/exports/IMG_1017 (1).MOV
dash/exports/output_reba_IMG_1017_output.mp4
dash/exports/output_reba_IMG_1294_output.mp4
dash/exports/output_rula_IMG_1294_output.mp4
dash/exports/ergonomy_scores/rula_score_left_IMG_1294_output.xlsx
dash/exports/ergonomy_scores/rula_score_right_IMG_1294_output.xlsx
dash/exports/assessed_result/max_trunk.png
exports/ergonomic_report.pdf
exports/line_chart.png
exports/max_left.png
exports/max_legs.png
exports/max_lo_arm.png
exports/max_neck.png
exports/max_right.png
*.xlsx
exports/ergonomic_report.pdf
exports/line_chart.png
exports/max_left.png
exports/max_legs.png
exports/max_lo_arm.png
exports/max_neck.png
exports/max_right.png
exports/max_trunk.png
exports/max_up_arm.png
exports/max_wrist.png
exports/output_.mp4
exports/output_video_export_sample-video-side-view_0_15.mp4
exports/pie_chart.png
exports/video_export_sample-video-side-view_0_15.mp4
exports/scores__REBA.xlsx
imports/sample-video-side-view.mp4
exports/converted_output_video_export_sample-video-side-view_0_15.mp4
exports/max_lo_arm.png
exports/max_legs.png
exports/max_neck.png
exports/max_right.png
exports/max_trunk.png
exports/max_up_arm.png
exports/max_wrist.png
exports/output_.mp4
exports/pie_chart.png
exports/scores__REBA.xlsx
exports/max_lo_arm.png
exports/max_legs.png
exports/max_neck.png
exports/max_right.png
exports/max_trunk.png
exports/max_up_arm.png
exports/max_wrist.png
exports/output_.mp4
exports/pie_chart.png
exports/scores__REBA.xlsx
exports/max_legs.png
exports/max_lo_arm.png
exports/max_legs.png
exports/max_lo_arm.png
exports/max_neck.png
exports/max_right.png
exports/max_trunk.png
exports/max_up_arm.png
*.png
exports/scores__REBA.xlsx
exports/ergonomic_report.pdf
exports/line_chart.png
exports/max_left.png
exports/max_lo_arm.png
exports/max_right.png
exports/max_up_arm.png
exports/max_wrist.png
exports/output_.mp4
exports/pie_chart.png
exports/scores__REBA.xlsx
*.png
venv/*
.venv311/*
.venv311
